Repository CodeURJC-DAW-2022-23/webapp9, pull requests merged in 2023-04, with the labels that each got.

#153 Ang management
  backend/src/main/java/com/tripscanner/TripScanner/controller/restController/DestinationManagementRestController.java
  backend/src/main/java/com/tripscanner/TripScanner/controller/restController/ItineraryManagementRestController.java
  backend/src/main/java/com/tripscanner/TripScanner/controller/restController/PlaceManagementRestController.java
  backend/src/main/java/com/tripscanner/TripScanner/controller/restController/UserManagementRestController.java
  frontend/angularclient/proxy.conf.json
  frontend/angularclient/src/app/app.module.ts
  frontend/angularclient/src/app/app.routing.ts
  frontend/angularclient/src/app/components/add-edit-mng/add-edit-mng.component.css
  frontend/angularclient/src/app/components/add-edit-mng/add-edit-mng.component.html
  frontend/angularclient/src/app/components/add-edit-mng/add-edit-mng.component.spec.ts
  frontend/angularclient/src/app/components/add-edit-mng/add-edit-mng.component.ts
  frontend/angularclient/src/app/components/error/error.component.css
  frontend/angularclient/src/app/components/error/error.component.html
  frontend/angularclient/src/app/components/error/error.component.spec.ts
  frontend/angularclient/src/app/components/error/error.component.ts
  frontend/angularclient/src/app/components/home/home.component.ts
  frontend/angularclient/src/app/components/management/management.component.css
  frontend/angularclient/src/app/components/management/management.component.html
  frontend/angularclient/src/app/components/management/management.component.spec.ts
  frontend/angularclient/src/app/components/management/management.component.ts
  frontend/angularclient/src/app/models/destination.model.ts
  frontend/angularclient/src/app/models/information.model.ts
  frontend/angularclient/src/app/models/itinerary.model.ts
  frontend/angularclient/src/app/models/place.model.ts
  frontend/angularclient/src/app/models/rest/page.model.ts
  frontend/angularclient/src/app/models/rest/user-details-dto.model.ts
  frontend/angularclient/src/app/models/review.model.ts
  frontend/angularclient/src/app/models/user.model.ts
  frontend/angularclient/src/app/services/destination.service.ts
  frontend/angularclient/src/app/services/destinationMng.service.spec.ts
  frontend/angularclient/src/app/services/destinationMng.service.ts
  frontend/angularclient/src/app/services/information.service.ts
  frontend/angularclient/src/app/services/informationMng.service.ts
  frontend/angularclient/src/app/services/itinerary.service.spec.ts
  frontend/angularclient/src/app/services/itinerary.service.ts
  frontend/angularclient/src/app/services/itineraryMng.service.spec.ts
  frontend/angularclient/src/app/services/itineraryMng.service.ts
  frontend/angularclient/src/app/services/place.service.spec.ts
  frontend/angularclient/src/app/services/place.service.ts
  frontend/angularclient/src/app/services/placeMng.service.spec.ts
  frontend/angularclient/src/app/services/placeMng.service.ts
  frontend/angularclient/src/app/services/user.service.spec.ts
  frontend/angularclient/src/app/services/user.service.ts
  frontend/angularclient/src/app/services/userMng.service.spec.ts
  frontend/angularclient/src/app/services/userMng.service.ts
Labels: feature, angular

#160 Last changes
  frontend/angularclient/src/app/components/home/home.component.ts
  frontend/angularclient/src/app/components/log-in/log-in.component.ts
  frontend/angularclient/src/app/components/navbar/navbar.component.html
  frontend/angularclient/src/app/components/navbar/navbar.component.ts
  frontend/angularclient/src/app/components/sign-up/sign-up.component.html
  frontend/angularclient/src/app/components/sign-up/sign-up.component.ts
  frontend/angularclient/src/app/services/log-in.service.ts
  frontend/angularclient/src/app/services/sign-up.service.ts
Labels: bug, enhancement, angular

#159 Search functionality
  frontend/angularclient/src/app/components/navbar/navbar.component.html
  frontend/angularclient/src/app/components/navbar/navbar.component.ts
  frontend/angularclient/src/app/components/search/search.component.html
  frontend/angularclient/src/app/components/search/search.component.ts
  frontend/angularclient/src/app/services/destination.service.ts
  frontend/angularclient/src/app/services/information.service.ts
  frontend/angularclient/src/app/services/itinerary.service.ts
  frontend/angularclient/src/app/services/place.service.ts
Labels: feature, angular

#155 Ang profile and my itineraries functionality
  .gitignore
  backend/src/main/java/com/tripscanner/TripScanner/TripScannerApplication.java
  backend/src/main/java/com/tripscanner/TripScanner/controller/restController/ItineraryRestController.java
  backend/src/main/java/com/tripscanner/TripScanner/model/rest/ItineraryDTO.java
  backend/src/main/resources/assets/Image/logo-placeholder-image.png
  backend/src/main/resources/assets/Image/userPhoto.png
  backend/src/main/resources/templates/profile.html
  frontend/angularclient/src/app/app.module.ts
  frontend/angularclient/src/app/app.routing.ts
  frontend/angularclient/src/app/components/log-in/log-in.component.html
  frontend/angularclient/src/app/components/myitineraries/myitineraries.component.css
  frontend/angularclient/src/app/components/myitineraries/myitineraries.component.html
  frontend/angularclient/src/app/components/myitineraries/myitineraries.component.spec.ts
  frontend/angularclient/src/app/components/myitineraries/myitineraries.component.ts
  frontend/angularclient/src/app/components/navbar/navbar.component.html
  frontend/angularclient/src/app/components/navbar/navbar.component.ts
  frontend/angularclient/src/app/components/profile/profile.component.css
  frontend/angularclient/src/app/components/profile/profile.component.html
  frontend/angularclient/src/app/components/profile/profile.component.spec.ts
  frontend/angularclient/src/app/components/profile/profile.component.ts
  frontend/angularclient/src/app/services/itinerary.service.ts
  frontend/angularclient/src/app/services/log-in.service.ts
  frontend/angularclient/src/app/services/user.service.ts
Labels: feature, angular

#164 Hotfix for navbar and profile image after editing
  frontend/angularclient/src/app/components/myitineraries/myitineraries.component.html
  frontend/angularclient/src/app/components/navbar/navbar.component.html
  frontend/angularclient/src/app/components/navbar/navbar.component.ts
  frontend/angularclient/src/app/components/profile/profile.component.html
  frontend/angularclient/src/app/components/profile/profile.component.ts
  frontend/angularclient/src/app/services/log-in.service.ts
  frontend/angularclient/src/app/services/user.service.ts
Labels: bug, angular

#157 Ang docker
  backend/src/main/java/com/tripscanner/TripScanner/controller/webController/SPAController.java
  backend/src/main/resources/application.properties
  docker/Dockerfile
  docker/create_image.sh
  frontend/angularclient/angular.json
Labels: feature, docker

#165 Ang empty data hotfix
  frontend/angularclient/src/app/components/myitineraries/myitineraries.component.ts
Labels: bug, angular
